<%- include('header') -%>

<div id="content" class="mw-body" role="main">

    <h1>Home</h1>

    <p>Benvenuto nella Bibbopedia&trade; qui puoi trovare un sacco di pagine e informazioni interessanti.</p>

    <p>Tutti gli utenti sono i benvenuti a proporre modifiche alle pagine presenti.</p>

    <p>Per qualsiasi domanda clicca <a href="/wiki/42">qui</a>.</p>

</div>

<%- include('navigation', {page_title: 'Home'}) -%>
<%- include('footer') -%>