<%- include('header') -%>

<div id="content" class="mw-body" role="main">

    <h1>Entra</h1>
    <form method="post">
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <button type="submit">Accedi</button>
    </form>
</div>


<%- include('navigation', {page_title: 'Login'}) -%>
<%- include('footer') -%>